.ajax-file-upload-statusbar {
    background-color: #ebebeb;
    padding: 10px;
}

.ajax-file-upload-filename {
    width: 300px;
    height: auto;
}

.ajax-file-upload-filesize {
    width: 50px;
    height: auto;
    margin: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
}

.ajax-file-upload-progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}

.ajax-file-upload-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear;
}

.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}

.ajax-file-upload {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.ajax-file-upload:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.ajax-upload-dragdrop {
    width: 100%;
    border: 2px dotted #A5A5C7;
    color: #d1d1d1;
    font-weight: 400;
    text-align: left;
    padding: 10px;
}

.state-hover {
    border: 2px solid #A5A5C7;
}

.ajax-file-upload-container {
    margin: 20px 0;
}

.ajax-file-upload-error {
    color: red;
    margin: 10px;
    font-weight: 700;
}